* {
    margin: 0;
    padding: 0;
}
body {
    background:linear-gradient(to left, rgb(255 235 59 / 23%), rgb(255 235 59 / 30%));
}
h2 {
    margin-top: 20px;
    text-align: center;
}
.slide-container {
    position: relative;
    text-align: center;
    margin: 2% auto;
    width: 50%;
}
.slide-image {
    display: none;
    width: 100%;
    /*transition: 0.5s;*/
}
.img-active {
    display: inline;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slide-indicators {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.slide-indi {
    position: relative;
    margin: 0 6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
    font-size: 0;
}
.slide-indi:hover {
    cursor: pointer;
}
.white {
    background: white;
}
#slide-button2 {
    height: 50px;
    right: 0px;
    opacity: 0.4;
}
#slide-button1 {
    left: 0;
    height: 50px;
    opacity: 0.4;
}

#slide-button2:hover, #slide-button1:hover {
    opacity: 0.7;
    cursor: pointer;
}